Package: com.naken.rootapp
Name: RootApp
Depends: 
Version: 1.0
Architecture: iphoneos-arm
Description: A theos example of running App as root
Maintainer: snakeninny
Author: snakeninny
Section: Utilities
